@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0e1a;
  --foreground: #f0f0ff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
